openapi: 3.1.0
info:
  version: 2025.4.1-io.12b-fb6fbea074
  title: Misskey account federation API
servers:
- url: https://misskey.io/api
tags:
- name: federation
paths:
  /ap/get:
    post:
      operationId: post___ap___get
      summary: ap/get
      description: 'No description provided.


        **Credential required**: *Yes* / **Permission**: *read:federation*'
      externalDocs:
        description: Source code
        url: https://github.com/MisskeyIO/misskey/blob/io/packages/backend/src/server/api/endpoints/ap/get.ts
      tags:
      - federation
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                uri:
                  type: string
              required:
              - uri
      responses:
        '200':
          description: OK (with results)
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
        '418':
          description: I'm Ai
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl, instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                RATE_LIMIT_EXCEEDED:
                  value:
                    error:
                      message: Rate limit exceeded. Please try again later.
                      code: RATE_LIMIT_EXCEEDED
                      id: d5826d14-3982-4d2e-8011-b9e9f02499ef
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
  /ap/show:
    post:
      operationId: post___ap___show
      summary: ap/show
      description: 'No description provided.


        **Credential required**: *Yes* / **Permission**: *read:account*'
      externalDocs:
        description: Source code
        url: https://github.com/MisskeyIO/misskey/blob/io/packages/backend/src/server/api/endpoints/ap/show.ts
      tags:
      - federation
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                uri:
                  type: string
              required:
              - uri
      responses:
        '200':
          description: OK (with results)
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - User
                    object:
                      type: object
                      $ref: '#/components/schemas/UserDetailedNotMe'
                  required:
                  - type
                  - object
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - Note
                    object:
                      type: object
                      $ref: '#/components/schemas/Note'
                  required:
                  - type
                  - object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FEDERATION_NOT_ALLOWED:
                  value:
                    error:
                      message: Federation for this host is not allowed.
                      code: FEDERATION_NOT_ALLOWED
                      id: 974b799e-1a29-4889-b706-18d4dd93e266
                URI_INVALID:
                  value:
                    error:
                      message: URI is invalid.
                      code: URI_INVALID
                      id: 1a5eab56-e47b-48c2-8d5e-217b897d70db
                REQUEST_FAILED:
                  value:
                    error:
                      message: Request failed.
                      code: REQUEST_FAILED
                      id: 81b539cf-4f57-4b29-bc98-032c33c0792e
                RESPONSE_INVALID:
                  value:
                    error:
                      message: Response from remote server is invalid.
                      code: RESPONSE_INVALID
                      id: 70193c39-54f3-4813-82f0-70a680f7495b
                NO_SUCH_OBJECT:
                  value:
                    error:
                      message: No such object.
                      code: NO_SUCH_OBJECT
                      id: dc94d745-1262-4e63-a17d-fecaa57efc82
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
        '418':
          description: I'm Ai
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl, instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                RATE_LIMIT_EXCEEDED:
                  value:
                    error:
                      message: Rate limit exceeded. Please try again later.
                      code: RATE_LIMIT_EXCEEDED
                      id: d5826d14-3982-4d2e-8011-b9e9f02499ef
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
  /federation/followers:
    post:
      operationId: post___federation___followers
      summary: federation/followers
      description: 'No description provided.


        **Credential required**: *No*'
      externalDocs:
        description: Source code
        url: https://github.com/MisskeyIO/misskey/blob/io/packages/backend/src/server/api/endpoints/federation/followers.ts
      tags:
      - federation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                host:
                  type: string
                sinceId:
                  type: string
                  format: misskey:id
                untilId:
                  type: string
                  format: misskey:id
                limit:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 10
              required:
              - host
      responses:
        '200':
          description: OK (with results)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  $ref: '#/components/schemas/Following'
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
        '418':
          description: I'm Ai
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl, instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
  /federation/following:
    post:
      operationId: post___federation___following
      summary: federation/following
      description: 'No description provided.


        **Credential required**: *No*'
      externalDocs:
        description: Source code
        url: https://github.com/MisskeyIO/misskey/blob/io/packages/backend/src/server/api/endpoints/federation/following.ts
      tags:
      - federation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                host:
                  type: string
                sinceId:
                  type: string
                  format: misskey:id
                untilId:
                  type: string
                  format: misskey:id
                limit:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 10
              required:
              - host
      responses:
        '200':
          description: OK (with results)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  $ref: '#/components/schemas/Following'
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
        '418':
          description: I'm Ai
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl, instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
  /federation/instances:
    get:
      operationId: get___federation___instances
      summary: federation/instances
      description: 'No description provided.


        **Credential required**: *No*'
      externalDocs:
        description: Source code
        url: https://github.com/MisskeyIO/misskey/blob/io/packages/backend/src/server/api/endpoints/federation/instances.ts
      tags:
      - federation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                host:
                  type:
                  - string
                  - 'null'
                  description: Omit or use `null` to not filter by host.
                blocked:
                  type:
                  - boolean
                  - 'null'
                notResponding:
                  type:
                  - boolean
                  - 'null'
                suspended:
                  type:
                  - boolean
                  - 'null'
                silenced:
                  type:
                  - boolean
                  - 'null'
                federating:
                  type:
                  - boolean
                  - 'null'
                subscribing:
                  type:
                  - boolean
                  - 'null'
                publishing:
                  type:
                  - boolean
                  - 'null'
                limit:
                  type: integer
                  minimum: 1
                  maximum: 30
                  default: 30
                offset:
                  type: integer
                  default: 0
                sort:
                  type:
                  - string
                  - 'null'
                  enum:
                  - +pubSub
                  - -pubSub
                  - +notes
                  - -notes
                  - +users
                  - -users
                  - +following
                  - -following
                  - +followers
                  - -followers
                  - +firstRetrievedAt
                  - -firstRetrievedAt
                  - +latestRequestReceivedAt
                  - -latestRequestReceivedAt
                  - null
      responses:
        '200':
          description: OK (with results)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  $ref: '#/components/schemas/FederationInstance'
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
        '418':
          description: I'm Ai
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl, instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
    post:
      operationId: post___federation___instances
      summary: federation/instances
      description: 'No description provided.


        **Credential required**: *No*'
      externalDocs:
        description: Source code
        url: https://github.com/MisskeyIO/misskey/blob/io/packages/backend/src/server/api/endpoints/federation/instances.ts
      tags:
      - federation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                host:
                  type:
                  - string
                  - 'null'
                  description: Omit or use `null` to not filter by host.
                blocked:
                  type:
                  - boolean
                  - 'null'
                notResponding:
                  type:
                  - boolean
                  - 'null'
                suspended:
                  type:
                  - boolean
                  - 'null'
                silenced:
                  type:
                  - boolean
                  - 'null'
                federating:
                  type:
                  - boolean
                  - 'null'
                subscribing:
                  type:
                  - boolean
                  - 'null'
                publishing:
                  type:
                  - boolean
                  - 'null'
                limit:
                  type: integer
                  minimum: 1
                  maximum: 30
                  default: 30
                offset:
                  type: integer
                  default: 0
                sort:
                  type:
                  - string
                  - 'null'
                  enum:
                  - +pubSub
                  - -pubSub
                  - +notes
                  - -notes
                  - +users
                  - -users
                  - +following
                  - -following
                  - +followers
                  - -followers
                  - +firstRetrievedAt
                  - -firstRetrievedAt
                  - +latestRequestReceivedAt
                  - -latestRequestReceivedAt
                  - null
      responses:
        '200':
          description: OK (with results)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  $ref: '#/components/schemas/FederationInstance'
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
        '418':
          description: I'm Ai
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl, instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
  /federation/show-instance:
    post:
      operationId: post___federation___show-instance
      summary: federation/show-instance
      description: 'No description provided.


        **Credential required**: *No*'
      externalDocs:
        description: Source code
        url: https://github.com/MisskeyIO/misskey/blob/io/packages/backend/src/server/api/endpoints/federation/show-instance.ts
      tags:
      - federation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                host:
                  type: string
              required:
              - host
      responses:
        '200':
          description: OK (with results)
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                anyOf:
                - $ref: '#/components/schemas/FederationInstance'
                - type: 'null'
        '204':
          description: OK (without any results)
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
        '418':
          description: I'm Ai
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl, instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
  /federation/stats:
    get:
      operationId: get___federation___stats
      summary: federation/stats
      description: 'No description provided.


        **Credential required**: *No*'
      externalDocs:
        description: Source code
        url: https://github.com/MisskeyIO/misskey/blob/io/packages/backend/src/server/api/endpoints/federation/stats.ts
      tags:
      - federation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                limit:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 10
      responses:
        '200':
          description: OK (with results)
          content:
            application/json:
              schema:
                type: object
                properties:
                  topSubInstances:
                    type: array
                    items:
                      type: object
                      $ref: '#/components/schemas/FederationInstance'
                  otherFollowersCount:
                    type: number
                  topPubInstances:
                    type: array
                    items:
                      type: object
                      $ref: '#/components/schemas/FederationInstance'
                  otherFollowingCount:
                    type: number
                required:
                - topSubInstances
                - otherFollowersCount
                - topPubInstances
                - otherFollowingCount
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
        '418':
          description: I'm Ai
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl, instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
    post:
      operationId: post___federation___stats
      summary: federation/stats
      description: 'No description provided.


        **Credential required**: *No*'
      externalDocs:
        description: Source code
        url: https://github.com/MisskeyIO/misskey/blob/io/packages/backend/src/server/api/endpoints/federation/stats.ts
      tags:
      - federation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                limit:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 10
      responses:
        '200':
          description: OK (with results)
          content:
            application/json:
              schema:
                type: object
                properties:
                  topSubInstances:
                    type: array
                    items:
                      type: object
                      $ref: '#/components/schemas/FederationInstance'
                  otherFollowersCount:
                    type: number
                  topPubInstances:
                    type: array
                    items:
                      type: object
                      $ref: '#/components/schemas/FederationInstance'
                  otherFollowingCount:
                    type: number
                required:
                - topSubInstances
                - otherFollowersCount
                - topPubInstances
                - otherFollowingCount
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
        '418':
          description: I'm Ai
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl, instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
  /federation/update-remote-user:
    post:
      operationId: post___federation___update-remote-user
      summary: federation/update-remote-user
      description: 'No description provided.


        **Credential required**: *No*'
      externalDocs:
        description: Source code
        url: https://github.com/MisskeyIO/misskey/blob/io/packages/backend/src/server/api/endpoints/federation/update-remote-user.ts
      tags:
      - federation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  format: misskey:id
              required:
              - userId
      responses:
        '204':
          description: OK (without any results)
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
        '418':
          description: I'm Ai
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl, instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
  /federation/users:
    post:
      operationId: post___federation___users
      summary: federation/users
      description: 'No description provided.


        **Credential required**: *No*'
      externalDocs:
        description: Source code
        url: https://github.com/MisskeyIO/misskey/blob/io/packages/backend/src/server/api/endpoints/federation/users.ts
      tags:
      - federation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                host:
                  type: string
                sinceId:
                  type: string
                  format: misskey:id
                untilId:
                  type: string
                  format: misskey:id
                limit:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 10
              required:
              - host
      responses:
        '200':
          description: OK (with results)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  $ref: '#/components/schemas/UserDetailedNotMe'
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
        '418':
          description: I'm Ai
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl, instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
components:
  schemas:
    UserDetailedNotMe:
      type: object
      allOf:
      - type: object
        $ref: '#/components/schemas/UserLite'
      - type: object
        $ref: '#/components/schemas/UserDetailedNotMeOnly'
    UserDetailedNotMeOnly:
      type: object
      properties:
        url:
          type:
          - string
          - 'null'
          format: url
        uri:
          type:
          - string
          - 'null'
          format: uri
        movedTo:
          type:
          - string
          - 'null'
          format: uri
        alsoKnownAs:
          type:
          - array
          - 'null'
          items:
            type: string
            format: id
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
        lastFetchedAt:
          type:
          - string
          - 'null'
          format: date-time
        bannerUrl:
          type:
          - string
          - 'null'
          format: url
        bannerBlurhash:
          type:
          - string
          - 'null'
        isLocked:
          type: boolean
        isSilenced:
          type: boolean
        isLimited:
          type: boolean
        isSuspended:
          type: boolean
          example: false
        description:
          type:
          - string
          - 'null'
          example: Hi masters, I am Ai!
        location:
          type:
          - string
          - 'null'
        birthday:
          type:
          - string
          - 'null'
          example: '2018-03-12'
        lang:
          type:
          - string
          - 'null'
          example: ja-JP
        fields:
          type: array
          maxItems: 16
          items:
            type: object
            properties:
              name:
                type: string
              value:
                type: string
            required:
            - name
            - value
        verifiedLinks:
          type: array
          items:
            type: string
            format: url
        followersCount:
          type: number
        followingCount:
          type: number
        notesCount:
          type: number
        pinnedNoteIds:
          type: array
          items:
            type: string
            format: id
        pinnedNotes:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/Note'
        pinnedPageId:
          type:
          - string
          - 'null'
        pinnedPage:
          type:
          - object
          - 'null'
          anyOf:
          - $ref: '#/components/schemas/Page'
          - type: 'null'
        publicReactions:
          type: boolean
        followingVisibility:
          type: string
          enum:
          - public
          - followers
          - private
        followersVisibility:
          type: string
          enum:
          - public
          - followers
          - private
        chatScope:
          type: string
          enum:
          - everyone
          - following
          - followers
          - mutual
          - none
        canChat:
          type: boolean
        roles:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/RoleLite'
        followedMessage:
          type:
          - string
          - 'null'
        memo:
          type:
          - string
          - 'null'
        moderationNote:
          type: string
        twoFactorEnabled:
          type: boolean
        usePasswordLessLogin:
          type: boolean
        securityKeys:
          type: boolean
        mutualLinkSections:
          type: array
          items:
            type: object
            properties:
              name:
                type:
                - string
                - 'null'
              mutualLinks:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: misskey:id
                    url:
                      type: string
                      format: url
                    fileId:
                      type: string
                      format: misskey:id
                    description:
                      type:
                      - string
                      - 'null'
                    imgSrc:
                      type: string
                  required:
                  - id
                  - url
                  - fileId
                  - description
                  - imgSrc
            required:
            - name
            - mutualLinks
        isFollowing:
          type: boolean
        isFollowed:
          type: boolean
        hasPendingFollowRequestFromYou:
          type: boolean
        hasPendingFollowRequestToYou:
          type: boolean
        isBlocking:
          type: boolean
        isBlocked:
          type: boolean
        isMuted:
          type: boolean
        isRenoteMuted:
          type: boolean
        notify:
          type: string
          enum:
          - normal
          - none
        withReplies:
          type: boolean
      required:
      - url
      - uri
      - movedTo
      - alsoKnownAs
      - createdAt
      - updatedAt
      - lastFetchedAt
      - bannerUrl
      - bannerBlurhash
      - isLocked
      - isSilenced
      - isLimited
      - isSuspended
      - description
      - location
      - birthday
      - lang
      - fields
      - verifiedLinks
      - followersCount
      - followingCount
      - notesCount
      - pinnedNoteIds
      - pinnedNotes
      - pinnedPageId
      - pinnedPage
      - publicReactions
      - followingVisibility
      - followersVisibility
      - chatScope
      - canChat
      - roles
      - memo
      - mutualLinkSections
    FederationInstance:
      type: object
      properties:
        id:
          type: string
          format: id
        firstRetrievedAt:
          type: string
          format: date-time
        host:
          type: string
          example: misskey.example.com
        usersCount:
          type: number
        notesCount:
          type: number
        followingCount:
          type: number
        followersCount:
          type: number
        isNotResponding:
          type: boolean
        isSuspended:
          type: boolean
        suspensionState:
          type: string
          enum:
          - none
          - manuallySuspended
          - goneSuspended
          - autoSuspendedForNotResponding
        isBlocked:
          type: boolean
        softwareName:
          type:
          - string
          - 'null'
          example: misskey
        softwareVersion:
          type:
          - string
          - 'null'
        openRegistrations:
          type:
          - boolean
          - 'null'
          example: true
        name:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        maintainerName:
          type:
          - string
          - 'null'
        maintainerEmail:
          type:
          - string
          - 'null'
        isSilenced:
          type: boolean
        isSensitiveMedia:
          type: boolean
        iconUrl:
          type:
          - string
          - 'null'
          format: url
        faviconUrl:
          type:
          - string
          - 'null'
          format: url
        themeColor:
          type:
          - string
          - 'null'
        infoUpdatedAt:
          type:
          - string
          - 'null'
          format: date-time
        latestRequestReceivedAt:
          type:
          - string
          - 'null'
          format: date-time
        moderationNote:
          type:
          - string
          - 'null'
      required:
      - id
      - firstRetrievedAt
      - host
      - usersCount
      - notesCount
      - followingCount
      - followersCount
      - isNotResponding
      - isSuspended
      - suspensionState
      - isBlocked
      - softwareName
      - softwareVersion
      - openRegistrations
      - name
      - description
      - maintainerName
      - maintainerEmail
      - isSilenced
      - isSensitiveMedia
      - iconUrl
      - faviconUrl
      - themeColor
      - infoUpdatedAt
      - latestRequestReceivedAt
    Following:
      type: object
      properties:
        id:
          type: string
          format: id
          example: xxxxxxxxxx
        createdAt:
          type: string
          format: date-time
        followeeId:
          type: string
          format: id
        followerId:
          type: string
          format: id
        followee:
          type: object
          anyOf:
          - $ref: '#/components/schemas/UserDetailedNotMe'
          - type: 'null'
        follower:
          type: object
          anyOf:
          - $ref: '#/components/schemas/UserDetailedNotMe'
          - type: 'null'
      required:
      - id
      - createdAt
      - followeeId
      - followerId
    DriveFile:
      type: object
      properties:
        id:
          type: string
          format: id
          example: xxxxxxxxxx
        createdAt:
          type: string
          format: date-time
        name:
          type: string
          example: 192.jpg
        type:
          type: string
          example: image/jpeg
        md5:
          type: string
          format: md5
          example: 15eca7fba0480996e2245f5185bf39f2
        size:
          type: number
          example: 51469
        isSensitive:
          type: boolean
        isSensitiveByModerator:
          type:
          - boolean
          - 'null'
        blurhash:
          type:
          - string
          - 'null'
        properties:
          type: object
          properties:
            width:
              type: number
              example: 1280
            height:
              type: number
              example: 720
            orientation:
              type: number
              example: 8
            avgColor:
              type: string
              example: rgb(40,65,87)
        url:
          type: string
          format: url
        thumbnailUrl:
          type:
          - string
          - 'null'
          format: url
        comment:
          type:
          - string
          - 'null'
        folderId:
          type:
          - string
          - 'null'
          format: id
          example: xxxxxxxxxx
        folder:
          type:
          - object
          - 'null'
          anyOf:
          - $ref: '#/components/schemas/DriveFolder'
          - type: 'null'
        userId:
          type:
          - string
          - 'null'
          format: id
          example: xxxxxxxxxx
        user:
          type:
          - object
          - 'null'
          anyOf:
          - $ref: '#/components/schemas/UserLite'
          - type: 'null'
      required:
      - id
      - createdAt
      - name
      - type
      - md5
      - size
      - isSensitive
      - blurhash
      - properties
      - url
      - thumbnailUrl
      - comment
      - folderId
      - userId
    Note:
      type: object
      properties:
        id:
          type: string
          format: id
          example: xxxxxxxxxx
        createdAt:
          type: string
          format: date-time
        deletedAt:
          type:
          - string
          - 'null'
          format: date-time
        text:
          type:
          - string
          - 'null'
        cw:
          type:
          - string
          - 'null'
        userId:
          type: string
          format: id
        user:
          type: object
          $ref: '#/components/schemas/UserLite'
        replyId:
          type:
          - string
          - 'null'
          format: id
          example: xxxxxxxxxx
        renoteId:
          type:
          - string
          - 'null'
          format: id
          example: xxxxxxxxxx
        reply:
          type:
          - object
          - 'null'
          anyOf:
          - $ref: '#/components/schemas/Note'
          - type: 'null'
        renote:
          type:
          - object
          - 'null'
          anyOf:
          - $ref: '#/components/schemas/Note'
          - type: 'null'
        isHidden:
          type: boolean
        visibility:
          type: string
          enum:
          - public
          - home
          - followers
          - specified
        mentions:
          type: array
          items:
            type: string
            format: id
        visibleUserIds:
          type: array
          items:
            type: string
            format: id
        fileIds:
          type: array
          items:
            type: string
            format: id
        files:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/DriveFile'
        tags:
          type: array
          items:
            type: string
        poll:
          type:
          - object
          - 'null'
          properties:
            expiresAt:
              type:
              - string
              - 'null'
              format: date-time
            multiple:
              type: boolean
            choices:
              type: array
              items:
                type: object
                properties:
                  isVoted:
                    type: boolean
                  text:
                    type: string
                  votes:
                    type: number
                required:
                - isVoted
                - text
                - votes
          required:
          - multiple
          - choices
        emojis:
          type: object
          additionalProperties:
            anyOf:
            - type: string
        channelId:
          type:
          - string
          - 'null'
          format: id
          example: xxxxxxxxxx
        channel:
          type:
          - object
          - 'null'
          properties:
            id:
              type: string
            name:
              type: string
            color:
              type: string
            isSensitive:
              type: boolean
            allowRenoteToExternal:
              type: boolean
            userId:
              type:
              - string
              - 'null'
          required:
          - id
          - name
          - color
          - isSensitive
          - allowRenoteToExternal
          - userId
        localOnly:
          type: boolean
        dimension:
          type:
          - integer
          - 'null'
        reactionAcceptance:
          type:
          - string
          - 'null'
          enum:
          - likeOnly
          - likeOnlyForRemote
          - nonSensitiveOnly
          - nonSensitiveOnlyForLocalLikeOnlyForRemote
          - null
        reactionEmojis:
          type: object
          additionalProperties:
            anyOf:
            - type: string
        reactions:
          type: object
          additionalProperties:
            anyOf:
            - type: number
        reactionCount:
          type: number
        renoteCount:
          type: number
        repliesCount:
          type: number
        uri:
          type: string
        url:
          type: string
        reactionAndUserPairCache:
          type: array
          items:
            type: string
        clippedCount:
          type: number
        myReaction:
          type:
          - string
          - 'null'
      required:
      - id
      - createdAt
      - text
      - userId
      - user
      - visibility
      - reactionAcceptance
      - reactionEmojis
      - reactions
      - reactionCount
      - renoteCount
      - repliesCount
    PageBlock:
      type: object
      oneOf:
      - type: object
        properties:
          id:
            type: string
          type:
            type: string
            enum:
            - text
          text:
            type: string
        required:
        - id
        - type
        - text
      - type: object
        properties:
          id:
            type: string
          type:
            type: string
            enum:
            - section
          title:
            type: string
          children:
            type: array
            items:
              type: object
        required:
        - id
        - type
        - title
        - children
      - type: object
        properties:
          id:
            type: string
          type:
            type: string
            enum:
            - image
          fileId:
            type:
            - string
            - 'null'
        required:
        - id
        - type
        - fileId
      - type: object
        properties:
          id:
            type: string
          type:
            type: string
            enum:
            - note
          detailed:
            type: boolean
          note:
            type:
            - string
            - 'null'
        required:
        - id
        - type
        - detailed
        - note
    RoleLite:
      type: object
      properties:
        id:
          type: string
          format: id
          example: xxxxxxxxxx
        name:
          type: string
          example: New Role
        color:
          type:
          - string
          - 'null'
          example: '#000000'
        iconUrl:
          type:
          - string
          - 'null'
        description:
          type: string
        isModerator:
          type: boolean
          example: false
        isAdministrator:
          type: boolean
          example: false
        displayOrder:
          type: integer
          example: 0
      required:
      - id
      - name
      - color
      - iconUrl
      - description
      - isModerator
      - isAdministrator
      - displayOrder
    Page:
      type: object
      properties:
        id:
          type: string
          format: id
          example: xxxxxxxxxx
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        userId:
          type: string
          format: id
        user:
          type: object
          $ref: '#/components/schemas/UserLite'
        content:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/PageBlock'
        variables:
          type: array
          items:
            type: object
        title:
          type: string
        name:
          type: string
        summary:
          type:
          - string
          - 'null'
        hideTitleWhenPinned:
          type: boolean
        alignCenter:
          type: boolean
        font:
          type: string
        script:
          type: string
        eyeCatchingImageId:
          type:
          - string
          - 'null'
        eyeCatchingImage:
          type:
          - object
          - 'null'
          anyOf:
          - $ref: '#/components/schemas/DriveFile'
          - type: 'null'
        attachedFiles:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/DriveFile'
        likedCount:
          type: number
        isLiked:
          type: boolean
        visibility:
          type: string
          enum:
          - public
          - private
      required:
      - id
      - createdAt
      - updatedAt
      - userId
      - user
      - content
      - variables
      - title
      - name
      - summary
      - hideTitleWhenPinned
      - alignCenter
      - font
      - script
      - eyeCatchingImageId
      - eyeCatchingImage
      - attachedFiles
      - likedCount
      - visibility
    DriveFolder:
      type: object
      properties:
        id:
          type: string
          format: id
          example: xxxxxxxxxx
        createdAt:
          type: string
          format: date-time
        name:
          type: string
        parentId:
          type:
          - string
          - 'null'
          format: id
          example: xxxxxxxxxx
        foldersCount:
          type: number
        filesCount:
          type: number
        parent:
          type:
          - object
          - 'null'
          anyOf:
          - $ref: '#/components/schemas/DriveFolder'
          - type: 'null'
      required:
      - id
      - createdAt
      - name
      - parentId
    UserLite:
      type: object
      properties:
        id:
          type: string
          format: id
          example: xxxxxxxxxx
        name:
          type:
          - string
          - 'null'
          example: 藍
        username:
          type: string
          example: ai
        host:
          type:
          - string
          - 'null'
          example: misskey.example.com
          description: The local host is represented with `null`.
        avatarUrl:
          type:
          - string
          - 'null'
          format: url
        avatarBlurhash:
          type:
          - string
          - 'null'
        avatarDecorations:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: id
              angle:
                type: number
              flipH:
                type: boolean
              url:
                type: string
                format: url
              offsetX:
                type: number
              offsetY:
                type: number
            required:
            - id
            - url
        isBot:
          type: boolean
        isCat:
          type: boolean
        requireSigninToViewContents:
          type: boolean
        makeNotesFollowersOnlyBefore:
          type:
          - number
          - 'null'
        makeNotesHiddenBefore:
          type:
          - number
          - 'null'
        instance:
          type: object
          properties:
            name:
              type:
              - string
              - 'null'
            softwareName:
              type:
              - string
              - 'null'
            softwareVersion:
              type:
              - string
              - 'null'
            iconUrl:
              type:
              - string
              - 'null'
            faviconUrl:
              type:
              - string
              - 'null'
            themeColor:
              type:
              - string
              - 'null'
          required:
          - name
          - softwareName
          - softwareVersion
          - iconUrl
          - faviconUrl
          - themeColor
        emojis:
          type: object
          additionalProperties:
            type: string
        onlineStatus:
          type: string
          enum:
          - unknown
          - online
          - active
          - offline
        badgeRoles:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              iconUrl:
                type:
                - string
                - 'null'
              displayOrder:
                type: number
              behavior:
                type: string
            required:
            - name
            - iconUrl
            - displayOrder
      required:
      - id
      - name
      - username
      - host
      - avatarUrl
      - avatarBlurhash
      - avatarDecorations
      - emojis
      - onlineStatus
    Error:
      type: object
      properties:
        error:
          type: object
          description: An error object.
          properties:
            code:
              type: string
              description: An error code. Unique within the endpoint.
            message:
              type: string
              description: An error message.
            id:
              type: string
              format: uuid
              description: An error ID. This ID is static.
          required:
          - code
          - id
          - message
      required:
      - error
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
externalDocs:
  description: Repository
  url: https://github.com/MisskeyIO/misskey
