openapi: 3.1.0
info:
  version: 2025.4.1-io.12b-fb6fbea074
  title: Misskey account charts API
servers:
- url: https://misskey.io/api
tags:
- name: charts
paths:
  /charts/active-users:
    get:
      operationId: get___charts___active-users
      summary: charts/active-users
      description: 'No description provided.


        **Credential required**: *No*'
      externalDocs:
        description: Source code
        url: https://github.com/MisskeyIO/misskey/blob/io/packages/backend/src/server/api/endpoints/charts/active-users.ts
      tags:
      - charts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                span:
                  type: string
                  enum:
                  - day
                  - hour
                limit:
                  type: integer
                  minimum: 1
                  maximum: 500
                  default: 30
                offset:
                  type:
                  - integer
                  - 'null'
                  default: null
              required:
              - span
      responses:
        '200':
          description: OK (with results)
          content:
            application/json:
              schema:
                type: object
                properties:
                  readWrite:
                    type: array
                    items:
                      type: number
                  read:
                    type: array
                    items:
                      type: number
                  write:
                    type: array
                    items:
                      type: number
                  registeredWithinWeek:
                    type: array
                    items:
                      type: number
                  registeredWithinMonth:
                    type: array
                    items:
                      type: number
                  registeredWithinYear:
                    type: array
                    items:
                      type: number
                  registeredOutsideWeek:
                    type: array
                    items:
                      type: number
                  registeredOutsideMonth:
                    type: array
                    items:
                      type: number
                  registeredOutsideYear:
                    type: array
                    items:
                      type: number
                required:
                - readWrite
                - read
                - write
                - registeredWithinWeek
                - registeredWithinMonth
                - registeredWithinYear
                - registeredOutsideWeek
                - registeredOutsideMonth
                - registeredOutsideYear
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
        '418':
          description: I'm Ai
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl, instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
    post:
      operationId: post___charts___active-users
      summary: charts/active-users
      description: 'No description provided.


        **Credential required**: *No*'
      externalDocs:
        description: Source code
        url: https://github.com/MisskeyIO/misskey/blob/io/packages/backend/src/server/api/endpoints/charts/active-users.ts
      tags:
      - charts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                span:
                  type: string
                  enum:
                  - day
                  - hour
                limit:
                  type: integer
                  minimum: 1
                  maximum: 500
                  default: 30
                offset:
                  type:
                  - integer
                  - 'null'
                  default: null
              required:
              - span
      responses:
        '200':
          description: OK (with results)
          content:
            application/json:
              schema:
                type: object
                properties:
                  readWrite:
                    type: array
                    items:
                      type: number
                  read:
                    type: array
                    items:
                      type: number
                  write:
                    type: array
                    items:
                      type: number
                  registeredWithinWeek:
                    type: array
                    items:
                      type: number
                  registeredWithinMonth:
                    type: array
                    items:
                      type: number
                  registeredWithinYear:
                    type: array
                    items:
                      type: number
                  registeredOutsideWeek:
                    type: array
                    items:
                      type: number
                  registeredOutsideMonth:
                    type: array
                    items:
                      type: number
                  registeredOutsideYear:
                    type: array
                    items:
                      type: number
                required:
                - readWrite
                - read
                - write
                - registeredWithinWeek
                - registeredWithinMonth
                - registeredWithinYear
                - registeredOutsideWeek
                - registeredOutsideMonth
                - registeredOutsideYear
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
        '418':
          description: I'm Ai
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl, instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
  /charts/ap-request:
    get:
      operationId: get___charts___ap-request
      summary: charts/ap-request
      description: 'No description provided.


        **Credential required**: *No*'
      externalDocs:
        description: Source code
        url: https://github.com/MisskeyIO/misskey/blob/io/packages/backend/src/server/api/endpoints/charts/ap-request.ts
      tags:
      - charts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                span:
                  type: string
                  enum:
                  - day
                  - hour
                limit:
                  type: integer
                  minimum: 1
                  maximum: 500
                  default: 30
                offset:
                  type:
                  - integer
                  - 'null'
                  default: null
              required:
              - span
      responses:
        '200':
          description: OK (with results)
          content:
            application/json:
              schema:
                type: object
                properties:
                  deliverFailed:
                    type: array
                    items:
                      type: number
                  deliverSucceeded:
                    type: array
                    items:
                      type: number
                  inboxReceived:
                    type: array
                    items:
                      type: number
                required:
                - deliverFailed
                - deliverSucceeded
                - inboxReceived
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
        '418':
          description: I'm Ai
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl, instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
    post:
      operationId: post___charts___ap-request
      summary: charts/ap-request
      description: 'No description provided.


        **Credential required**: *No*'
      externalDocs:
        description: Source code
        url: https://github.com/MisskeyIO/misskey/blob/io/packages/backend/src/server/api/endpoints/charts/ap-request.ts
      tags:
      - charts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                span:
                  type: string
                  enum:
                  - day
                  - hour
                limit:
                  type: integer
                  minimum: 1
                  maximum: 500
                  default: 30
                offset:
                  type:
                  - integer
                  - 'null'
                  default: null
              required:
              - span
      responses:
        '200':
          description: OK (with results)
          content:
            application/json:
              schema:
                type: object
                properties:
                  deliverFailed:
                    type: array
                    items:
                      type: number
                  deliverSucceeded:
                    type: array
                    items:
                      type: number
                  inboxReceived:
                    type: array
                    items:
                      type: number
                required:
                - deliverFailed
                - deliverSucceeded
                - inboxReceived
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
        '418':
          description: I'm Ai
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl, instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
  /charts/drive:
    get:
      operationId: get___charts___drive
      summary: charts/drive
      description: 'No description provided.


        **Credential required**: *No*'
      externalDocs:
        description: Source code
        url: https://github.com/MisskeyIO/misskey/blob/io/packages/backend/src/server/api/endpoints/charts/drive.ts
      tags:
      - charts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                span:
                  type: string
                  enum:
                  - day
                  - hour
                limit:
                  type: integer
                  minimum: 1
                  maximum: 500
                  default: 30
                offset:
                  type:
                  - integer
                  - 'null'
                  default: null
              required:
              - span
      responses:
        '200':
          description: OK (with results)
          content:
            application/json:
              schema:
                type: object
                properties:
                  local:
                    type: object
                    properties:
                      incCount:
                        type: array
                        items:
                          type: number
                      incSize:
                        type: array
                        items:
                          type: number
                      decCount:
                        type: array
                        items:
                          type: number
                      decSize:
                        type: array
                        items:
                          type: number
                    required:
                    - incCount
                    - incSize
                    - decCount
                    - decSize
                  remote:
                    type: object
                    properties:
                      incCount:
                        type: array
                        items:
                          type: number
                      incSize:
                        type: array
                        items:
                          type: number
                      decCount:
                        type: array
                        items:
                          type: number
                      decSize:
                        type: array
                        items:
                          type: number
                    required:
                    - incCount
                    - incSize
                    - decCount
                    - decSize
                required:
                - local
                - remote
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
        '418':
          description: I'm Ai
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl, instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
    post:
      operationId: post___charts___drive
      summary: charts/drive
      description: 'No description provided.


        **Credential required**: *No*'
      externalDocs:
        description: Source code
        url: https://github.com/MisskeyIO/misskey/blob/io/packages/backend/src/server/api/endpoints/charts/drive.ts
      tags:
      - charts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                span:
                  type: string
                  enum:
                  - day
                  - hour
                limit:
                  type: integer
                  minimum: 1
                  maximum: 500
                  default: 30
                offset:
                  type:
                  - integer
                  - 'null'
                  default: null
              required:
              - span
      responses:
        '200':
          description: OK (with results)
          content:
            application/json:
              schema:
                type: object
                properties:
                  local:
                    type: object
                    properties:
                      incCount:
                        type: array
                        items:
                          type: number
                      incSize:
                        type: array
                        items:
                          type: number
                      decCount:
                        type: array
                        items:
                          type: number
                      decSize:
                        type: array
                        items:
                          type: number
                    required:
                    - incCount
                    - incSize
                    - decCount
                    - decSize
                  remote:
                    type: object
                    properties:
                      incCount:
                        type: array
                        items:
                          type: number
                      incSize:
                        type: array
                        items:
                          type: number
                      decCount:
                        type: array
                        items:
                          type: number
                      decSize:
                        type: array
                        items:
                          type: number
                    required:
                    - incCount
                    - incSize
                    - decCount
                    - decSize
                required:
                - local
                - remote
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
        '418':
          description: I'm Ai
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl, instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
  /charts/federation:
    get:
      operationId: get___charts___federation
      summary: charts/federation
      description: 'No description provided.


        **Credential required**: *No*'
      externalDocs:
        description: Source code
        url: https://github.com/MisskeyIO/misskey/blob/io/packages/backend/src/server/api/endpoints/charts/federation.ts
      tags:
      - charts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                span:
                  type: string
                  enum:
                  - day
                  - hour
                limit:
                  type: integer
                  minimum: 1
                  maximum: 500
                  default: 30
                offset:
                  type:
                  - integer
                  - 'null'
                  default: null
              required:
              - span
      responses:
        '200':
          description: OK (with results)
          content:
            application/json:
              schema:
                type: object
                properties:
                  deliveredInstances:
                    type: array
                    items:
                      type: number
                  inboxInstances:
                    type: array
                    items:
                      type: number
                  stalled:
                    type: array
                    items:
                      type: number
                  sub:
                    type: array
                    items:
                      type: number
                  pub:
                    type: array
                    items:
                      type: number
                  pubsub:
                    type: array
                    items:
                      type: number
                  subActive:
                    type: array
                    items:
                      type: number
                  pubActive:
                    type: array
                    items:
                      type: number
                required:
                - deliveredInstances
                - inboxInstances
                - stalled
                - sub
                - pub
                - pubsub
                - subActive
                - pubActive
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
        '418':
          description: I'm Ai
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl, instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
    post:
      operationId: post___charts___federation
      summary: charts/federation
      description: 'No description provided.


        **Credential required**: *No*'
      externalDocs:
        description: Source code
        url: https://github.com/MisskeyIO/misskey/blob/io/packages/backend/src/server/api/endpoints/charts/federation.ts
      tags:
      - charts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                span:
                  type: string
                  enum:
                  - day
                  - hour
                limit:
                  type: integer
                  minimum: 1
                  maximum: 500
                  default: 30
                offset:
                  type:
                  - integer
                  - 'null'
                  default: null
              required:
              - span
      responses:
        '200':
          description: OK (with results)
          content:
            application/json:
              schema:
                type: object
                properties:
                  deliveredInstances:
                    type: array
                    items:
                      type: number
                  inboxInstances:
                    type: array
                    items:
                      type: number
                  stalled:
                    type: array
                    items:
                      type: number
                  sub:
                    type: array
                    items:
                      type: number
                  pub:
                    type: array
                    items:
                      type: number
                  pubsub:
                    type: array
                    items:
                      type: number
                  subActive:
                    type: array
                    items:
                      type: number
                  pubActive:
                    type: array
                    items:
                      type: number
                required:
                - deliveredInstances
                - inboxInstances
                - stalled
                - sub
                - pub
                - pubsub
                - subActive
                - pubActive
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
        '418':
          description: I'm Ai
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl, instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
  /charts/instance:
    get:
      operationId: get___charts___instance
      summary: charts/instance
      description: 'No description provided.


        **Credential required**: *No*'
      externalDocs:
        description: Source code
        url: https://github.com/MisskeyIO/misskey/blob/io/packages/backend/src/server/api/endpoints/charts/instance.ts
      tags:
      - charts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                span:
                  type: string
                  enum:
                  - day
                  - hour
                limit:
                  type: integer
                  minimum: 1
                  maximum: 500
                  default: 30
                offset:
                  type:
                  - integer
                  - 'null'
                  default: null
                host:
                  type: string
              required:
              - span
              - host
      responses:
        '200':
          description: OK (with results)
          content:
            application/json:
              schema:
                type: object
                properties:
                  requests:
                    type: object
                    properties:
                      failed:
                        type: array
                        items:
                          type: number
                      succeeded:
                        type: array
                        items:
                          type: number
                      received:
                        type: array
                        items:
                          type: number
                    required:
                    - failed
                    - succeeded
                    - received
                  notes:
                    type: object
                    properties:
                      total:
                        type: array
                        items:
                          type: number
                      inc:
                        type: array
                        items:
                          type: number
                      dec:
                        type: array
                        items:
                          type: number
                      diffs:
                        type: object
                        properties:
                          normal:
                            type: array
                            items:
                              type: number
                          reply:
                            type: array
                            items:
                              type: number
                          renote:
                            type: array
                            items:
                              type: number
                          withFile:
                            type: array
                            items:
                              type: number
                        required:
                        - normal
                        - reply
                        - renote
                        - withFile
                    required:
                    - total
                    - inc
                    - dec
                    - diffs
                  users:
                    type: object
                    properties:
                      total:
                        type: array
                        items:
                          type: number
                      inc:
                        type: array
                        items:
                          type: number
                      dec:
                        type: array
                        items:
                          type: number
                    required:
                    - total
                    - inc
                    - dec
                  following:
                    type: object
                    properties:
                      total:
                        type: array
                        items:
                          type: number
                      inc:
                        type: array
                        items:
                          type: number
                      dec:
                        type: array
                        items:
                          type: number
                    required:
                    - total
                    - inc
                    - dec
                  followers:
                    type: object
                    properties:
                      total:
                        type: array
                        items:
                          type: number
                      inc:
                        type: array
                        items:
                          type: number
                      dec:
                        type: array
                        items:
                          type: number
                    required:
                    - total
                    - inc
                    - dec
                  drive:
                    type: object
                    properties:
                      totalFiles:
                        type: array
                        items:
                          type: number
                      incFiles:
                        type: array
                        items:
                          type: number
                      decFiles:
                        type: array
                        items:
                          type: number
                      incUsage:
                        type: array
                        items:
                          type: number
                      decUsage:
                        type: array
                        items:
                          type: number
                    required:
                    - totalFiles
                    - incFiles
                    - decFiles
                    - incUsage
                    - decUsage
                required:
                - requests
                - notes
                - users
                - following
                - followers
                - drive
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
        '418':
          description: I'm Ai
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl, instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
    post:
      operationId: post___charts___instance
      summary: charts/instance
      description: 'No description provided.


        **Credential required**: *No*'
      externalDocs:
        description: Source code
        url: https://github.com/MisskeyIO/misskey/blob/io/packages/backend/src/server/api/endpoints/charts/instance.ts
      tags:
      - charts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                span:
                  type: string
                  enum:
                  - day
                  - hour
                limit:
                  type: integer
                  minimum: 1
                  maximum: 500
                  default: 30
                offset:
                  type:
                  - integer
                  - 'null'
                  default: null
                host:
                  type: string
              required:
              - span
              - host
      responses:
        '200':
          description: OK (with results)
          content:
            application/json:
              schema:
                type: object
                properties:
                  requests:
                    type: object
                    properties:
                      failed:
                        type: array
                        items:
                          type: number
                      succeeded:
                        type: array
                        items:
                          type: number
                      received:
                        type: array
                        items:
                          type: number
                    required:
                    - failed
                    - succeeded
                    - received
                  notes:
                    type: object
                    properties:
                      total:
                        type: array
                        items:
                          type: number
                      inc:
                        type: array
                        items:
                          type: number
                      dec:
                        type: array
                        items:
                          type: number
                      diffs:
                        type: object
                        properties:
                          normal:
                            type: array
                            items:
                              type: number
                          reply:
                            type: array
                            items:
                              type: number
                          renote:
                            type: array
                            items:
                              type: number
                          withFile:
                            type: array
                            items:
                              type: number
                        required:
                        - normal
                        - reply
                        - renote
                        - withFile
                    required:
                    - total
                    - inc
                    - dec
                    - diffs
                  users:
                    type: object
                    properties:
                      total:
                        type: array
                        items:
                          type: number
                      inc:
                        type: array
                        items:
                          type: number
                      dec:
                        type: array
                        items:
                          type: number
                    required:
                    - total
                    - inc
                    - dec
                  following:
                    type: object
                    properties:
                      total:
                        type: array
                        items:
                          type: number
                      inc:
                        type: array
                        items:
                          type: number
                      dec:
                        type: array
                        items:
                          type: number
                    required:
                    - total
                    - inc
                    - dec
                  followers:
                    type: object
                    properties:
                      total:
                        type: array
                        items:
                          type: number
                      inc:
                        type: array
                        items:
                          type: number
                      dec:
                        type: array
                        items:
                          type: number
                    required:
                    - total
                    - inc
                    - dec
                  drive:
                    type: object
                    properties:
                      totalFiles:
                        type: array
                        items:
                          type: number
                      incFiles:
                        type: array
                        items:
                          type: number
                      decFiles:
                        type: array
                        items:
                          type: number
                      incUsage:
                        type: array
                        items:
                          type: number
                      decUsage:
                        type: array
                        items:
                          type: number
                    required:
                    - totalFiles
                    - incFiles
                    - decFiles
                    - incUsage
                    - decUsage
                required:
                - requests
                - notes
                - users
                - following
                - followers
                - drive
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
        '418':
          description: I'm Ai
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl, instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
  /charts/notes:
    get:
      operationId: get___charts___notes
      summary: charts/notes
      description: 'No description provided.


        **Credential required**: *No*'
      externalDocs:
        description: Source code
        url: https://github.com/MisskeyIO/misskey/blob/io/packages/backend/src/server/api/endpoints/charts/notes.ts
      tags:
      - charts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                span:
                  type: string
                  enum:
                  - day
                  - hour
                limit:
                  type: integer
                  minimum: 1
                  maximum: 500
                  default: 30
                offset:
                  type:
                  - integer
                  - 'null'
                  default: null
              required:
              - span
      responses:
        '200':
          description: OK (with results)
          content:
            application/json:
              schema:
                type: object
                properties:
                  local:
                    type: object
                    properties:
                      total:
                        type: array
                        items:
                          type: number
                      inc:
                        type: array
                        items:
                          type: number
                      dec:
                        type: array
                        items:
                          type: number
                      diffs:
                        type: object
                        properties:
                          normal:
                            type: array
                            items:
                              type: number
                          reply:
                            type: array
                            items:
                              type: number
                          renote:
                            type: array
                            items:
                              type: number
                          withFile:
                            type: array
                            items:
                              type: number
                        required:
                        - normal
                        - reply
                        - renote
                        - withFile
                    required:
                    - total
                    - inc
                    - dec
                    - diffs
                  remote:
                    type: object
                    properties:
                      total:
                        type: array
                        items:
                          type: number
                      inc:
                        type: array
                        items:
                          type: number
                      dec:
                        type: array
                        items:
                          type: number
                      diffs:
                        type: object
                        properties:
                          normal:
                            type: array
                            items:
                              type: number
                          reply:
                            type: array
                            items:
                              type: number
                          renote:
                            type: array
                            items:
                              type: number
                          withFile:
                            type: array
                            items:
                              type: number
                        required:
                        - normal
                        - reply
                        - renote
                        - withFile
                    required:
                    - total
                    - inc
                    - dec
                    - diffs
                required:
                - local
                - remote
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
        '418':
          description: I'm Ai
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl, instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
    post:
      operationId: post___charts___notes
      summary: charts/notes
      description: 'No description provided.


        **Credential required**: *No*'
      externalDocs:
        description: Source code
        url: https://github.com/MisskeyIO/misskey/blob/io/packages/backend/src/server/api/endpoints/charts/notes.ts
      tags:
      - charts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                span:
                  type: string
                  enum:
                  - day
                  - hour
                limit:
                  type: integer
                  minimum: 1
                  maximum: 500
                  default: 30
                offset:
                  type:
                  - integer
                  - 'null'
                  default: null
              required:
              - span
      responses:
        '200':
          description: OK (with results)
          content:
            application/json:
              schema:
                type: object
                properties:
                  local:
                    type: object
                    properties:
                      total:
                        type: array
                        items:
                          type: number
                      inc:
                        type: array
                        items:
                          type: number
                      dec:
                        type: array
                        items:
                          type: number
                      diffs:
                        type: object
                        properties:
                          normal:
                            type: array
                            items:
                              type: number
                          reply:
                            type: array
                            items:
                              type: number
                          renote:
                            type: array
                            items:
                              type: number
                          withFile:
                            type: array
                            items:
                              type: number
                        required:
                        - normal
                        - reply
                        - renote
                        - withFile
                    required:
                    - total
                    - inc
                    - dec
                    - diffs
                  remote:
                    type: object
                    properties:
                      total:
                        type: array
                        items:
                          type: number
                      inc:
                        type: array
                        items:
                          type: number
                      dec:
                        type: array
                        items:
                          type: number
                      diffs:
                        type: object
                        properties:
                          normal:
                            type: array
                            items:
                              type: number
                          reply:
                            type: array
                            items:
                              type: number
                          renote:
                            type: array
                            items:
                              type: number
                          withFile:
                            type: array
                            items:
                              type: number
                        required:
                        - normal
                        - reply
                        - renote
                        - withFile
                    required:
                    - total
                    - inc
                    - dec
                    - diffs
                required:
                - local
                - remote
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
        '418':
          description: I'm Ai
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl, instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
  /charts/user/drive:
    get:
      operationId: get___charts___user___drive
      summary: charts/user/drive
      description: 'No description provided.


        **Credential required**: *No*'
      externalDocs:
        description: Source code
        url: https://github.com/MisskeyIO/misskey/blob/io/packages/backend/src/server/api/endpoints/charts/user/drive.ts
      tags:
      - charts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                span:
                  type: string
                  enum:
                  - day
                  - hour
                limit:
                  type: integer
                  minimum: 1
                  maximum: 500
                  default: 30
                offset:
                  type:
                  - integer
                  - 'null'
                  default: null
                userId:
                  type: string
                  format: misskey:id
              required:
              - span
              - userId
      responses:
        '200':
          description: OK (with results)
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: array
                    items:
                      type: number
                  totalSize:
                    type: array
                    items:
                      type: number
                  incCount:
                    type: array
                    items:
                      type: number
                  incSize:
                    type: array
                    items:
                      type: number
                  decCount:
                    type: array
                    items:
                      type: number
                  decSize:
                    type: array
                    items:
                      type: number
                required:
                - totalCount
                - totalSize
                - incCount
                - incSize
                - decCount
                - decSize
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
        '418':
          description: I'm Ai
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl, instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
    post:
      operationId: post___charts___user___drive
      summary: charts/user/drive
      description: 'No description provided.


        **Credential required**: *No*'
      externalDocs:
        description: Source code
        url: https://github.com/MisskeyIO/misskey/blob/io/packages/backend/src/server/api/endpoints/charts/user/drive.ts
      tags:
      - charts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                span:
                  type: string
                  enum:
                  - day
                  - hour
                limit:
                  type: integer
                  minimum: 1
                  maximum: 500
                  default: 30
                offset:
                  type:
                  - integer
                  - 'null'
                  default: null
                userId:
                  type: string
                  format: misskey:id
              required:
              - span
              - userId
      responses:
        '200':
          description: OK (with results)
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: array
                    items:
                      type: number
                  totalSize:
                    type: array
                    items:
                      type: number
                  incCount:
                    type: array
                    items:
                      type: number
                  incSize:
                    type: array
                    items:
                      type: number
                  decCount:
                    type: array
                    items:
                      type: number
                  decSize:
                    type: array
                    items:
                      type: number
                required:
                - totalCount
                - totalSize
                - incCount
                - incSize
                - decCount
                - decSize
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
        '418':
          description: I'm Ai
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl, instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
  /charts/user/following:
    get:
      operationId: get___charts___user___following
      summary: charts/user/following
      description: 'No description provided.


        **Credential required**: *No*'
      externalDocs:
        description: Source code
        url: https://github.com/MisskeyIO/misskey/blob/io/packages/backend/src/server/api/endpoints/charts/user/following.ts
      tags:
      - charts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                span:
                  type: string
                  enum:
                  - day
                  - hour
                limit:
                  type: integer
                  minimum: 1
                  maximum: 500
                  default: 30
                offset:
                  type:
                  - integer
                  - 'null'
                  default: null
                userId:
                  type: string
                  format: misskey:id
              required:
              - span
              - userId
      responses:
        '200':
          description: OK (with results)
          content:
            application/json:
              schema:
                type: object
                properties:
                  local:
                    type: object
                    properties:
                      followings:
                        type: object
                        properties:
                          total:
                            type: array
                            items:
                              type: number
                          inc:
                            type: array
                            items:
                              type: number
                          dec:
                            type: array
                            items:
                              type: number
                        required:
                        - total
                        - inc
                        - dec
                      followers:
                        type: object
                        properties:
                          total:
                            type: array
                            items:
                              type: number
                          inc:
                            type: array
                            items:
                              type: number
                          dec:
                            type: array
                            items:
                              type: number
                        required:
                        - total
                        - inc
                        - dec
                    required:
                    - followings
                    - followers
                  remote:
                    type: object
                    properties:
                      followings:
                        type: object
                        properties:
                          total:
                            type: array
                            items:
                              type: number
                          inc:
                            type: array
                            items:
                              type: number
                          dec:
                            type: array
                            items:
                              type: number
                        required:
                        - total
                        - inc
                        - dec
                      followers:
                        type: object
                        properties:
                          total:
                            type: array
                            items:
                              type: number
                          inc:
                            type: array
                            items:
                              type: number
                          dec:
                            type: array
                            items:
                              type: number
                        required:
                        - total
                        - inc
                        - dec
                    required:
                    - followings
                    - followers
                required:
                - local
                - remote
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
        '418':
          description: I'm Ai
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl, instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
    post:
      operationId: post___charts___user___following
      summary: charts/user/following
      description: 'No description provided.


        **Credential required**: *No*'
      externalDocs:
        description: Source code
        url: https://github.com/MisskeyIO/misskey/blob/io/packages/backend/src/server/api/endpoints/charts/user/following.ts
      tags:
      - charts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                span:
                  type: string
                  enum:
                  - day
                  - hour
                limit:
                  type: integer
                  minimum: 1
                  maximum: 500
                  default: 30
                offset:
                  type:
                  - integer
                  - 'null'
                  default: null
                userId:
                  type: string
                  format: misskey:id
              required:
              - span
              - userId
      responses:
        '200':
          description: OK (with results)
          content:
            application/json:
              schema:
                type: object
                properties:
                  local:
                    type: object
                    properties:
                      followings:
                        type: object
                        properties:
                          total:
                            type: array
                            items:
                              type: number
                          inc:
                            type: array
                            items:
                              type: number
                          dec:
                            type: array
                            items:
                              type: number
                        required:
                        - total
                        - inc
                        - dec
                      followers:
                        type: object
                        properties:
                          total:
                            type: array
                            items:
                              type: number
                          inc:
                            type: array
                            items:
                              type: number
                          dec:
                            type: array
                            items:
                              type: number
                        required:
                        - total
                        - inc
                        - dec
                    required:
                    - followings
                    - followers
                  remote:
                    type: object
                    properties:
                      followings:
                        type: object
                        properties:
                          total:
                            type: array
                            items:
                              type: number
                          inc:
                            type: array
                            items:
                              type: number
                          dec:
                            type: array
                            items:
                              type: number
                        required:
                        - total
                        - inc
                        - dec
                      followers:
                        type: object
                        properties:
                          total:
                            type: array
                            items:
                              type: number
                          inc:
                            type: array
                            items:
                              type: number
                          dec:
                            type: array
                            items:
                              type: number
                        required:
                        - total
                        - inc
                        - dec
                    required:
                    - followings
                    - followers
                required:
                - local
                - remote
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
        '418':
          description: I'm Ai
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl, instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
  /charts/user/notes:
    get:
      operationId: get___charts___user___notes
      summary: charts/user/notes
      description: 'No description provided.


        **Credential required**: *No*'
      externalDocs:
        description: Source code
        url: https://github.com/MisskeyIO/misskey/blob/io/packages/backend/src/server/api/endpoints/charts/user/notes.ts
      tags:
      - charts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                span:
                  type: string
                  enum:
                  - day
                  - hour
                limit:
                  type: integer
                  minimum: 1
                  maximum: 500
                  default: 30
                offset:
                  type:
                  - integer
                  - 'null'
                  default: null
                userId:
                  type: string
                  format: misskey:id
              required:
              - span
              - userId
      responses:
        '200':
          description: OK (with results)
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: array
                    items:
                      type: number
                  inc:
                    type: array
                    items:
                      type: number
                  dec:
                    type: array
                    items:
                      type: number
                  diffs:
                    type: object
                    properties:
                      normal:
                        type: array
                        items:
                          type: number
                      reply:
                        type: array
                        items:
                          type: number
                      renote:
                        type: array
                        items:
                          type: number
                      withFile:
                        type: array
                        items:
                          type: number
                    required:
                    - normal
                    - reply
                    - renote
                    - withFile
                required:
                - total
                - inc
                - dec
                - diffs
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
        '418':
          description: I'm Ai
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl, instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
    post:
      operationId: post___charts___user___notes
      summary: charts/user/notes
      description: 'No description provided.


        **Credential required**: *No*'
      externalDocs:
        description: Source code
        url: https://github.com/MisskeyIO/misskey/blob/io/packages/backend/src/server/api/endpoints/charts/user/notes.ts
      tags:
      - charts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                span:
                  type: string
                  enum:
                  - day
                  - hour
                limit:
                  type: integer
                  minimum: 1
                  maximum: 500
                  default: 30
                offset:
                  type:
                  - integer
                  - 'null'
                  default: null
                userId:
                  type: string
                  format: misskey:id
              required:
              - span
              - userId
      responses:
        '200':
          description: OK (with results)
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: array
                    items:
                      type: number
                  inc:
                    type: array
                    items:
                      type: number
                  dec:
                    type: array
                    items:
                      type: number
                  diffs:
                    type: object
                    properties:
                      normal:
                        type: array
                        items:
                          type: number
                      reply:
                        type: array
                        items:
                          type: number
                      renote:
                        type: array
                        items:
                          type: number
                      withFile:
                        type: array
                        items:
                          type: number
                    required:
                    - normal
                    - reply
                    - renote
                    - withFile
                required:
                - total
                - inc
                - dec
                - diffs
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
[...]
